@import url(http://fonts.googleapis.com/css?family=Francois+One);
@font-face { font-family: Segoe script; src: url('segoe-script.ttf'); } 
@font-face { font-family: Rough Brush Script; src: url('Rough Brush Script.TTF'); } 


body {
	background: #333;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #999;
}

* {
	margin:0;
	padding:0;
}


/** element defaults **/
table {
	width: 100%;
	text-align: left;
}

th, td {
	padding: 10px 10px;
}

th {
	color: #fff;
	background: #AD0000 none repeat-x scroll left top;
}

td {
	border-bottom: 1px solid #ccc;
}

code, blockquote {
	display: block;
	border-left: 5px solid #222;
	padding: 10px;
	margin-bottom: 20px;
}
code {
	background-color: #222;
	color:#ccc;
	border: none;
}
blockquote {
	border-left: 5px solid #222;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #333;
	height: 1%;
}

p {
	line-height: 1.9em;
	margin-bottom: 20px;
	
}

a {
	color: #666;
	text-decoration:none;
}

a:hover {
	color: #C70000;
}

a:focus {
	outline: none;
}

a img{
	border:none;
}


a.button { 
    background-color: #AD0000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a.button:hover {
	background-color: #940000;
}

span.required {
	color: #f00;
}

h1 {
	color: #666;
	font-size: 35px;
	font-family: "Times New Roman", Times, serif;
}

h2 {
	color: #000;
	font-size: 27px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family: 'Francois One', Arial, sans-serif;
}


h3 {
	color: #888;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: -1px;
	font-family: 'Francois One', Arial, sans-serif;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 18px;
    padding-bottom: 10px;
	 
}
h6{
	padding-bottom: 5px;
	padding-left:5px;
	font-size: 20px;
	color: #999;
	
	
	
	}
	
h6 un{
	
	font-size: 17px;
	font-weight:normal;
	
	
	
	}
	
h6 na{
	font-weight:normal;
	text-transform:uppercase;
	
	}
	
h7{
	font-faminly:Arial, Helvetica, sans-serif;
	color: #666;
    font-size: 18px;
    padding-bottom: 20px;
	 display: block;
	 padding-top:5px;
	
	
	
	}
	
h8 {
	color: #000;
	font-size: 27px;
	letter-spacing: 0px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
}
	
h9{
	color: #888;
	font-size: 19px;
	letter-spacing: 0px;
	font-weight: normal;
	font-style:italic;
	padding: 0 0 5px;
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	}

header h4 a:hoover{
	color:#940000;
	
	
	}

h5 {
	padding-bottom: 10px;
	font-size: 16px;
	color: #999;
	font-family: 'Francois One', Arial, sans-serif;
}

ul, ol {
	margin: 0 0 35px 35px;
}

ul.end{
	margin: 0 0 0px 35px;
}

li {
	padding-bottom: 5px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}

header {
	padding: 30px 15px;
	background: #fff;

	margin: 0 auto;
	text-align:left;
}

header h1 a, header h1 a:hover {
 color: #666;
    font-size: 45px;
    letter-spacing: -3px;
    line-height:45px;
    text-decoration: none;
    text-transform: uppercase;
	
}
header h1 a span { 
	color: #f00;
}

header h2 {
	color: #999;
	font-size: 15px;
	position: relative;
	top: -5px;
	letter-spacing: 0;
}


article h2 { 
    padding-bottom: 0;
}

article .article-info {
    color: #999999;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 10px 0;
}

article .article-info a { 
	color: #666;
}

.sidebar h4 {
	padding-bottom: 0;
	font-size: 19px;
  	border-bottom: 4px solid #333;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0 0 10px;
}

.sidebar li ul li {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	border-top: none;
	padding: 10px 5px;
	margin: 0;
	line-height: 1.5em;
	border-bottom: 1px solid #ddd;
	font-size: 13px;
}

.sidebar li ul li.text { 
	border-bottom: none;
}

.sidebar li ul li a {
	font-weight: normal;
	color: #666;
}

.sidebar li ul li a:hover {
	color: #AD0000;
}


.sidebar li ul li a.readmore {
    background-color: #AD0000;
    color: #FFFFFF;
    display: inline-block;
    padding: 2px 5px;
    float: right;
    text-decoration: none;
}

.clear {
	clear: both;
}

footer {
	margin:20px auto 0;
	width: 100%;
	 text-decoration: none;
}

footer p {
	text-align: left;
	color: #ccc;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ccc;
}

.footer-content {
	padding: 20px 25px 30px;
	background: #ddd;
	border-top: 10px solid #AD0000;
	
}

footer .footer-content ul {
	width: 28%;
	list-style: none;
	margin: 0 65px 0 0;
	padding: 0;
	float: left;
	text-decoration: none;
	
}

footer .footer-content li {
	border-bottom: 1px dashed #ccc;
	padding: 10px 5px;
	
}

footer .footer-content li a, footer .footer-content h4 {
	 text-decoration: none;

}

footer .footer-content li a {
 color: #666666;
    font-size: 13px;
	text-decoration: none;
}

footer .footer-content li a:hover { 
	color: #222;
}

footer .footer-content h4 a {
   color: #666;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 0;
	text-decoration: none;
}
	
	
footer .footer-content h4 {
	 color: #666;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 0;
	text-decoration: none;
}

footer .footer-content ul.endfooter {
	margin-right: 0;
}

footer .footer-content span.sitename {
	font-size: 40px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #aaa;
	float: left;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #AD0000;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #eee;
}

.map {
	float:right;
	width:360px;
	height:350px;
	font-size:16px;
	margin-left:20px;
}
	
rkont{
	width:240px;
	float:right
}
		
.imgpdg{
	 padding-left:40px;
	 padding-right:20px;
			
}
.imgmid{
	padding:0px 40px 0px 80px;
	
}
	
.mid{
	text-align:center;	
}
	

lbar{
float:left;	
padding-bottom: 10px;
	width:309px;
	padding-left:5px;
	height:604px;	
}

lbar h6{
	color: #575757;
	}


	
#spinner {
  font-family:Segoe script;
  font-size: 23px;
  color:#8C001A;
  text-align: center;
  
}

#spinner:hover {
	color:#333;
}


nav ul {
	
	list-style: none;
	padding: 0;
	margin: 0;
	width: 130px;
	
}

nav ul li {
	float: left;
	display: block;
	padding: 0;
	
}


nav ul li a {
    color: #eee;
    display: block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 15px;
    margin: 0;
	text-decoration: none;
    padding: 18px 15px 17px;
    text-decoration: none;
}

nav ul li ul a{
font-size: 0.9375em;
}



	

a.prodaja {
	font-size: 16px;
}

nav ul li a.prodaja{
	padding: 10px;
}	

nav ul li a:hover {
	color: #fff;
	background-color: #C70000;
	text-decoration: none;
}

@media only screen and (min-width: 1024px) {
	.toggle-nav {
   		display:none;
	}
	
#body {
	background: none;
	margin:0 auto;
 	padding: 20px 0px 20px 20px;
}
	
nav {
	width: 100%;
	height: 50px;
	background-color: #AD0000;
	
}

#logo a img{
	width:30%;
}


#rheader{
	float:right;
	width:42%;
	margin-top:38px;
	}
	
#container {
	width: 1000px;
	margin: 0px auto;
	padding: 0px;
	background-color: #fff;
	box-shadow: 0px 0px 12px 5px #000000;
}

#content {
		float: left;
		width: 64%;
}

article {
		border-bottom: 2px solid #ddd;
		margin-left:10px;
		padding: 10px 0px 20px 10px;
		width:100%;
}
	
.sidebar {
		float: left;
		width: 29%;
		padding-right:20px;
		padding-top:10px;
}
	
.menu {
    width: 70%;
    margin: 60px;
    background-color: #AD0000;   
    position:relative;
    display:inline-block;	
}
	
.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
	
}
	
.menu li {
    float: left;
    position: relative;	
}


.menu ul {
    margin: 20px 0 0 0;   
    opacity: 0;
    visibility: hidden;
    position: absolute;   
    left: 0;  
    background: linear-gradient(#444, #111);
}

.menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
	display:block;
    -moz-animation: fadeIn .15s ease-in ;
    -webkit-animation: fadeIn .15s ease-in ;
    animation:fadeIn .15s ease-in ;
}

.menu ul li:hover > ul{
    display:block;
    -moz-animation: fadeIn .15s ease-in ;
    -webkit-animation: fadeIn .15s ease-in ;
    animation:fadeIn .15s ease-in ;
}

.menu .dropmenu1 ul ul {
    top: 0;    
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
	left: 425px;
	
}

.menu .dropmenu2 ul ul {
    top: 0;
    
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
	left: 248px;
}

.menu ul li {
    float: none;
    display: block;    
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
 	z-index: 2;
}

.menu ul li:last-child {   
    box-shadow: none; 
	   
}

.menu ul a {    
 	
    padding: 10px;   
    display: block;
    white-space: nowrap;
    text-transform: none;
	background-color: #AD0000;
}

.menu ul a:hover {
    background-color: #AD0000;
    background-image: linear-gradient(#D5D5D5, #898989);
	
	
}

.menu .dropmenu1 ul ul a, .dropmenu2 ul ul a{
	border-left:thin #D5D5D5 solid;
	
	}
	
.menu .dropmenu1 ul ul, .dropmenu2 ul ul{
	border-top:thin #D5D5D5 solid;
	
}

.dropmenu1 ul{
	width:445px;
	}
	
.dropmenu2 ul{
	width:268px;
	}
	
nav ul li.selected a,
nav ul li.selected a:hover { 
	background-color: #940000;
	color: #fff; 
}	

.imgbar{
	margin-left:10px;
	width:94%;
	}

}

form input, form select, form textarea {
	padding: 0.3125em;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8125em;
}

form input.formbutton {
	border: none;
	background: #AD0000;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 0.75em;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
	
}

form.searchform input {
  font-size: 15px;
    padding: 6px;
	width:250px;
}

form.searchform p {
	margin: 5px 0;
}


#iskanje{
	margin-right:20px;
	padding: 10px 0 8px 10px;
	float:right;
	}


@media only screen and (max-width: 1024px) {
	nav ul.active, nav ul li ul.active, nav ul li ul li.active {
        display:none;
    }
    	
nav {
	width: 100%;
	height: 3.43em;
	background-color: #AD0000;
	
}

#logo a img{
	width:45%;
}

#rheader{
	display:none;
}
    
#body {
	background: none;
	margin:0 auto;
 	padding: 20px 0px 20px 10px;
}
	
.toggle-nav {
		height: 75%;
        padding-left: 0.6875em;
        padding-right: 0.6875em;
        padding-top:0.6875em;
        float:left;
        overflow: hidden;
        display:inline-block;
        background:#303030;
        color:#777;
        font-size:1.25em;
        transition:color linear 0.15s;
}	
	
	
#container {
		width: 100%;
		margin: 0px auto;
		padding: 0px;
		background-color: #fff;
}

#content {
		float: left;
		width: 100%;
}

article {
		border-bottom: 2px solid #ddd;
		margin-left:0px;
		padding: 10px 0px 20px 10px;
		width:95%;

}

.sidebar {
		float: left;
		width: 96%;
		padding-right:20px;
		padding-top:10px;
}
	
.menu ul .expand a {    
    padding: 0.625em 0.625em 0.625em 0.625em;   
    display: block;
    text-transform: none;
    background-color: #C80000;
    border-top-color: #AA0000;
}

.menu {
    width: 100%;
    background-color: #FFFFFF;    
	box-shadow: 0 1px 1px #777;	 
    position:relative;
    display:block;	
}
	
.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
	
.menu li {
    float: left;
    position: relative;
	width: 100%;
	background-color: #AD0000; 	
    border-top: solid;
    border-top-width: thin;
    border-top-color: #990000;
}

.menu ul {
    margin: 1.25em 0px 0px 0px;  
    opacity: 0;
    visibility: visible;
    position: relative;   
    left: 0px;  
    background: linear-gradient(#444, #111);
}



.menu li ul {
    opacity: 1;
    margin: 0;		
	visibility: visible;
	display:block;
    -moz-animation: fadeIn .15s ease-in ;
    -webkit-animation: fadeIn .15s ease-in ;
    animation:fadeIn .15s ease-in ;
}


.menu ul li ul{
visibility: visible;
    display:block;
    -moz-animation: fadeIn .15s ease-in ;
    -webkit-animation: fadeIn .15s ease-in ;
    animation:fadeIn .15s ease-in ;
    
}



.menu ul li {
    float: none;
    display: block;    
 	z-index: 2;
}

.menu ul li:last-child {   
    box-shadow: none; 
	   
}

.menu ul a {    
    padding: 10px 10px 10px 30px;   
    display: block;
    text-transform: none;
    background-color: #C80000;
    border-top-color: #AA0000;
}

.menu ul .expand ul a {
    padding: 10px 10px 10px 45px;   
	background-color: #E30000; 
    border-top-color: #CC0000;
	
}

.menu ul .expand ul a:before{
	content:none;
}

.menu .expand a:before {
	content: " \25BC \00A0";;
}

.menu ul a:hover {
    background-color: #AD0000;
    background-image: linear-gradient(#D5D5D5, #898989);
	
	
}


.dropmenu1 ul{
	width:100%;
	}
	
.dropmenu2 ul{
	width:100%;
	}

.imgbar{
	width:65%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul li a:hover {
	color: #fff;
	background-color: #C70000;	
    background-image: linear-gradient(#D5D5D5, #898989);
	text-decoration: none;
}

footer .footer-content ul{
	width:100%;	
	}
	
form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

form input.formbutton {
	border: none;
	background: #AD0000;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 10px;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
	
}

form.searchform input {
  font-size: 15px;
    padding: 6px;
	width:250px;
}

form.searchform p {
	margin: 5px 0;
}

#iskanje{
	margin-right:20px;
	padding: 12px 0 6px 10px;
	float:right;
	}
	
}

